# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*.

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor.

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [104]:
# Importando o Numpy e Pandas:
import numpy as np
import pandas as pd

In [105]:
# Carregando arquivo .csv:
data = pd.read_csv('/content/titanic_data.csv')

In [106]:
# Mostrado os 3 primeiros registros do Data Frame:
data.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [107]:
#Exibe informações sobre o DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [108]:
#Mostrando os 10 primeiros registros
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [109]:
#Mostrando os 8 últimos registros
data.tail(8)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [110]:
#Somando as quantidades de registros nulos por coluna
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [111]:
#Retirando as colunas Sibsp, Parch e Ticket
data.drop(['SibSp', 'Parch', 'Ticket'], axis = 1, inplace=True)

In [112]:
#Imprimindo novamente a tabela sem as colunas
data

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,7.7500,NaN,Q

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [113]:
#Renomeia as colunas do DataFrame
data.columns = ['IdPassageiro', 'Sobreviveu', 'Classe', 'Nome', 'Sexo', 'Idade', 'Tarifa', 'Cabine', 'Embarque']

#Exibe as primeiras linhas do DataFrame
data.head()

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,8.0500,NaN,S

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [114]:
#Substitui, através da função replace na coluna 'Sobreviveu', os valores de 1 e 0, pelos valores 'Sim' e 'Não'
data['Sobreviveu']= data['Sobreviveu'].replace([1,0],['Sim','Não'])

#Exibe as primeiras linhas do DataFrame
data.head(10)

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",male,22.0,7.2500,NaN,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",female,26.0,7.9250,NaN,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",male,35.0,8.0500,NaN,S
5,6,Não,3,"Moran, Mr. James",male,NaN,8.4583,NaN,Q
6,7,Não,1,"McCarthy, Mr. Timothy J",male,54.0,51.8625,E46,S
7,8,Não,3,"Palsson, Master. Gosta Leonard",male,2.0,21.0750,NaN,S
8,9,Sim,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,11.1333,NaN,S
9,10,Sim,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,30.0708,NaN,C

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [115]:
#Substitui, através da função replace na coluna 'Sexo', os valores 'male' e 'female, pelos valores 'Homem' e 'Mulher'
data['Sexo']= data['Sexo'].replace(['female','male'],['Mulher','Homem'])

#Exibe as primeiras linhas do DataFrame
data.head(10)

,IdPassageiro,Sobreviveu,Classe,Nome,Sexo,Idade,Tarifa,Cabine,Embarque
0,1,Não,3,"Braund, Mr. Owen Harris",Homem,22.0,7.2500,NaN,S
1,2,Sim,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",Mulher,38.0,71.2833,C85,C
2,3,Sim,3,"Heikkinen, Miss. Laina",Mulher,26.0,7.9250,NaN,S
3,4,Sim,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",Mulher,35.0,53.1000,C123,S
4,5,Não,3,"Allen, Mr. William Henry",Homem,35.0,8.0500,NaN,S
5,6,Não,3,"Moran, Mr. James",Homem,NaN,8.4583,NaN,Q
6,7,Não,1,"McCarthy, Mr. Timothy J",Homem,54.0,51.8625,E46,S
7,8,Não,3,"Palsson, Master. Gosta Leonard",Homem,2.0,21.0750,NaN,S
8,9,Sim,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",Mulher,27.0,11.1333,NaN,S
9,10,Sim,2,"Nasser, Mrs. Nicholas (Adele Achem)",Mulher,14.0,30.0708,NaN,C

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

In [116]:
#Conta os valores únicos na coluna 'Sexo' do DataFrame
genero = data['Sexo'].value_counts().reset_index(name='Quantidade')
genero

    index  Quantidade
0   Homem         577
1  Mulher         314

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [1]:
#Agrupa o DataFrame pela coluna 'Sobreviveu' e conta as quantidades de ocorrencias
sobreviventes = data.groupby('Sobreviveu')['Sobreviveu'].count().reset_index(name='Quantidade')
sobreviventes

NameError: ignored

11 - Quantas mulheres não sobreviveram?

In [118]:
#Filtra na coluna 'Sobreviveu' apenas os valores 'Sim'. Agrupa os mesmos pela coluna Sexo, conta as ocorrências e reinicia o índice e renomeia a coluna
sexo_sobreviventes = data[data['Sobreviveu'] == 'Sim'].groupby('Sexo')[['Sobreviveu']].count().reset_index()
sexo_sobreviventes.columns = ['Sexo', 'Quantidade']

print(sexo_sobreviventes)

     Sexo  Quantidade
0   Homem         109
1  Mulher         233

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [119]:
#Filtra os valores da coluna 'Sobreviveu' com os valores 'Sim' e calcula as proporções das ocorrências em porcentagem
proporcao_sexo = data[data['Sobreviveu'] == 'Sim']['Sexo'].value_counts(normalize=True) * 100

print(round(proporcao_sexo,2))

Mulher    68.13
Homem     31.87
Name: Sexo, dtype: float64

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [120]:
# Filtra o DataFrame para incluir apenas os passageiros que não sobreviveram, conta os valores e obtem os rótulos do indice
mortos_idade = data[data['Sobreviveu'] == 'Não']['Idade'].value_counts().index[0]

#Filtra as ocorrencias onde a coluna 'Sobreviveu' possui valor 'Não' e a idade igual a idade de 'mortos_idade'
#.shape[0] obtem as dimensões do DataFrame resultante. [0] (linhas) retorna a quantidade de passageiros com a idade mais comum
mortos_qtd = data[(data['Sobreviveu'] == 'Não') & (data['Idade'] == mortos_idade)].shape[0]

print(f'A idade com maior registro de mortos é: {mortos_idade}')
print(f'A quantidade de mortos é: {mortos_qtd}')

A idade com maior registro de mortos é: 21.0
A quantidade de mortos é: 19

14 - Qual a média de idade dos homens sobreviventes?

In [121]:
#Filtra apenas os homens que sobreviveram, agrupa os valores filtrados pela coluna 'Sexo', calcula a média da idade dos mesmos.
media_idade = data[(data['Sexo'] == 'Homem') & (data['Sobreviveu'] == 'Sim')].groupby('Sexo').mean().reset_index()

#Exibe apenas as colunas 'Sexo' e 'Idade'
print(media_idade[['Sexo', 'Idade']])

    Sexo      Idade
0  Homem  27.276022

<ipython-input-121-650d546fe04d>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  media_idade = data[(data['Sexo'] == 'Homem') & (data['Sobreviveu'] == 'Sim')].groupby('Sexo').mean().reset_index()

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [122]:
#Filtra os passageiros com idade maior que 0 e menores ou iguais a 15 ou com o 'sexo' igual a mulher
filtro = (data['Idade'] <= 15) & (data['Idade'] > 0) | (data['Sexo'] == 'Mulher')

#Filtra o DataFrame original com base no filtro estabelecido
filtrado = data[filtro]

#Substitui os valores da coluna 'Sobreviveu' com os valores 'Sim' e 'Não'
filtrado['Sobreviveu'] = filtrado['Sobreviveu'].replace(['Sim','Não'],[1,0])

#Realiza o agrupamento dos valores filtrados através da coluna 'Sexo' e calcula a proporção por sexo
proporcao_criancas_mulheres = filtrado.groupby('Sexo')['Sobreviveu'].mean() * 100

#Exibe a proporção
print(proporcao_criancas_mulheres)

Sexo
Homem     52.500000
Mulher    74.203822
Name: Sobreviveu, dtype: float64

<ipython-input-122-27349b4a4e6b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtrado['Sobreviveu'] = filtrado['Sobreviveu'].replace(['Sim','Não'],[1,0])

16 - Qual a quantidade de passageiros por classe?

In [123]:
#Faz a contagem de ocorrências por Classe
contagem_classe = data['Classe'].value_counts().sort_values(ascending=False)

#Exibe os valores
print(contagem_classe)

3    491
1    216
2    184
Name: Classe, dtype: int64

17 - Qual o percentual de sobreviventes por classe?

In [124]:
#Conta a quantidade de passageiros em cada classe
contagem_classe = data['Classe'].value_counts()

#Substitui os valores 'Sim' por 1 e 'Não' por 0 na coluna 'Sobreviveu'
data['Sobreviveu']= data['Sobreviveu'].replace(['Sim','Não'],[1,0])

# Calcula a média de sobrevivência para cada classe e multiplica por 100 para obter a porcentagem
percent_sobrevive = data.groupby('Classe')['Sobreviveu'].mean()*100

#Exibe os valores calculados
print(round(percent_sobrevive, 2))

Classe
1    62.96
2    47.28
3    24.24
Name: Sobreviveu, dtype: float64

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [125]:
#Substitui os valores da coluna 'Classe' como 1 = A / 2 = B / 3 = C
data['Classe']= data['Classe'].replace([1, 2, 3],['A','B','C'])

#Substitui os valores da coluna 'Sobreviveu' como 0 = Não e 1 = Sim
data['Sobreviveu']= data['Sobreviveu'].replace([0, 1],['Não','Sim'])

# Cria uma tabela dinâmica contando a quantidade de sobreviventes e não sobreviventes para cada sexo e classe
data.pivot_table('Sobreviveu', ['Classe'], 'Sexo', aggfunc='count')

# Cria uma tabela dinâmica contando a quantidade de sobreviventes e não sobreviventes para cada combinação de sexo e classe,
# preenchendo com 0 onde não há dados, usando 'size' como a função de agregação
data.pivot_table(index=['Sexo', 'Classe'], columns='Sobreviveu', aggfunc='size', fill_value=0)

Sobreviveu     Não  Sim
Sexo   Classe
Homem  A        77   45
       B        91   17
       C       300   47
Mulher A         3   91
       B         6   70
       C        72   72

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [126]:
#Filtra o DataFrame com apenas homens da classe C, com idade entre 24 e 30 anos e sobreviventes
filtro = data[(data['Sexo'] == 'Homem') & (data['Classe'] == 'C') & (data['Idade'].between(24, 30)) & (data['Sobreviveu'] == 'Sim')]

#Cria uma tabela dinâmica para contar a quantidade de sobreviventes
tabela_contagem = filtro.pivot_table('Sobreviveu', ['Classe'], 'Sexo', aggfunc='count')

# Cria uma tabela dinâmica com os devidos filtros, preenchendo com 0 onde não há dados, usando 'size' como a função de agregação
tabela_din = filtro.pivot_table(index=['Sexo', 'Classe'], columns='Sobreviveu', aggfunc='size', fill_value=0)

#Exibe a tabela criada
tabela_din

Sobreviveu    Sim
Sexo  Classe
Homem C        12

In [127]:
#Filtra o DataFrame com apenas homens da classe B, com idade entre 24 e 30 anos e não sobreviventes
filtro = data[(data['Sexo'] == 'Homem') & (data['Classe'] == 'B') & (data['Idade'].between(24, 30)) & (data['Sobreviveu'] == 'Não')]

#Cria uma tabela dinâmica para contar a quantidade de não sobreviventes
tabela_contagem = filtro.pivot_table('Sobreviveu', ['Classe'], 'Sexo', aggfunc='count')

# Cria uma tabela dinâmica com os devidos filtros, preenchendo com 0 onde não há dados, usando 'size' como a função de agregação
tabela_din = filtro.pivot_table(index=['Sexo', 'Classe'], columns='Sobreviveu', aggfunc='size', fill_value=0)

#Exibe a tabela criada
tabela_din

Sobreviveu    Não
Sexo  Classe
Homem B        24